Hallo, 
vielen Dank für Ihr Interesse.
Das Sofa ist noch da.
Bitte geben Sie Bescheid, wenn Sie es heute oder morgen abholen können.
Es werden 2 Personen zum Tragen benötigt. Die Wohnung ist im 2. OG, es gibt keinen Aufzug.
Das Sofa ist in einem gebrauchten, normalen Zustand, wurde 2019 gekauft. 
Bezug ist abnehmbar und in der Waschmaschine waschbar.
mfg
Bahadir

IKEA 3-Sitzer Sofa Ektorp in beiger/taupe Farbe abzugeben. Abholung im 2. OG ohne Aufzug.
Das Sofa ist noch verfügbar, solange diese Anzeige online ist.

